{% extends 'base.html' %}

{% block body %}
  <div class="ml-3" style="font-size: 0.5em;margin: 0;padding: 0px;text-indent: 15px;">
      date:
      <a style="text-decoration: none;color: gray;" href="/?sort=asc">▲</a>
      <a style="text-decoration: none;color: gray;" href="/?sort=desc">▼</a>
  </div>
<div class="card" style="width: 36rem;margin: 0;padding: 0;text-indent: 10px;border-style: none;">
<ul class="list-group list-group-flush">
{% for post in posts %}
<li class="list-group-item" style="border-style: none;margin: 0;padding: 0;">
    <a class="btn btn-link btn-sm" href="detail/{{ post.id }}" role="button" style="text-decoration: none;color: black;">
    {{ post.title }}
    </a>
    {% if post.due.date() == today %}
    <span class="badge bg-info text-dark" style="margin: 0;padding: 2px;text-indent: 0;">NEW!</span>
    {% endif %}
    <span class="ml-3" style="font-size: 0.5em;">date：{{ post.due.strftime('%m-%d') }} 
    <a class="btn btn-link btn-sm" href="delete/{{ post.id }}" role="button" style="text-decoration: none;color: gray;" onclick="return confirm('削除しますか？ [ OK | Cancel ]');">Del</a>
    </span>
  </li>
{% endfor %}
</ul>
</div>
<div class="card w-75 mb-0" style="margin: 0;padding: 0px;text-indent: 10px;border-style: none;">
  <ul class="nav">
    <li class="nav-item"><a class="btn btn-link btn-sm" style="text-decoration: none;color: gray;" aria-current="page" href="/create">Add</a></li>
    <li class="nav-item"><a class="btn btn-link btn-sm" style="text-decoration: none;color: gray;" href="/logout" tabindex="-1" aria-disabled="true">Logout</a></li>
  </ul>
</div>
{% endblock body %}